version: "3.8"

services:
  app:
    # build: .
    command: bash -c "uvicorn main:app --host 0.0.0.0 --port 5001 --reload"
    ports:
    - 5001:5001
    volumes:
      - ./app:/app
    image: phamthientan272/my-app:staging
    deploy:
        replicas: 3
        placement:
          constraints:
            - node.role == manager
        update_config:
          parallelism: 2
          delay: 10s
        restart_policy:
          condition: on-failure
          delay: 5s
          max_attempts: 3
          window: 120s