# .github/workflows/ci-cd.yml

name: CI/CD

on:
  push:
    branches:
      - staging
      - prod

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]

    steps:
      # Checkout the code
      - uses: actions/checkout@v3 

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # Run unit tests
      - name: Run tests
        run: 
          pytest

  deploy-staging:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/staging'
    steps:
      # Build and push the Docker image
      - name: Build and push image
        run: |
          docker build -t phamthientan272/phamthientan272/my-app:staging .
          docker push phamthientan272/phamthientan272/my-app:staging

      

  deploy-prod:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/prod'
    steps:
      # Build and push the Docker image
      - name: Build and push image
        run: |
          docker build -t phamthientan272/phamthientan272/my-app:prod .
          docker push phamthientan272/phamthientan272/my-app:prod